{% extends "base.html" %}

{% block content %}
    <div>
        <p>Artist Count: {{ count }}</p>
        <div id="start-target-container">
            <div class="main-artists" id="start-artist", style="background-image: url('data:image/jpeg;base64,{{ start_artist_image }}');">
                <p>{{ start_artist }}</p>
            </div>
            <div class="main-artists" id="target-artist", style="background-image: url('data:image/jpeg;base64,{{ target_artist_image }}');">
                <p>{{ target_artist }}</p>
            </div>
            <!-- <img src="data:image/jpeg;base64,{{ start_artist_image }}" alt="{{ start_artist }} image"> -->
            <!-- <img src="data:image/jpeg;base64,{{ target_artist_image }}" alt="{{ target_artist }} image"> -->
        </div>
        <form action="/game" method="POST">
            <ul>
                {% for artist in related_artists %}
                    <li><a href="/game?chosen={{ artist[0] }}&chosenImage={{ artist[1] }}" class="artist-link" id="artist-{{ loop.index - 1 }}">{{ artist[0] }}</a></li>
                    <img src="data:image/jpeg;base64,{{ encode_list[loop.index - 1] }}" alt="{{ artist[0] }} image">
                {% endfor %}
            </ul>
        </form>
    </div>
{% endblock %}
