body {
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
}

#start-artist #target-artist {
    max-height: 30vh;
}

#start-target-container {
    display: flex;
}

.main-artists {
    width: 500px;
    height: 500px;
    background-size: cover;
    border-radius: 15px;
    position: relative;
}

#main {
    margin: auto;
    align-items: center;
}

#start-artist, #target-artist {
    max-width: 75%;
}

#carouselExampleIndicators {
    max-width: 675px;
}